# Table of Contents
1. [Introduction](#id0)
2. [Import Packages](#id1)
3. [Data Import from FARS National Survey](#id2)
4. [Initial Assessment](#id3)

<a id="id0"></a>

## Introduction
Data was drawn from the Fatality Analysis Reporting System (FARS) of the National Highway Traffic Safety Administration (NHTSA). As the FARS manual notes, " Crashes each year result in thousands of lives lost, hundreds of thousands of injured victims, and billions of dollars in property damage. Accurate data are required to support
the development, implementation, and assessment of highway safety programs aimed at reducing
this toll." The FARS data was collected to help improve traveler safety. The FARS data are specific in that " To qualify as a FARS case, the crash had to involve a motor vehicle traveling on a
trafficway customarily open to the public, and must have resulted in the death of a motorist or a
non-motorist within 30 days of the crash."

National Center for Statistics and Analysis. (2022, March). *Fatality Analysis Reporting System
analytical user’s manual*, 1975-2020 (Report No. DOT HS 813 254). National Highway
Traffic Safety Administration.

<a id="id1"></a>

In [23]:

import pandas as pd
import csv

<a id="id2"></a>

## Data Import from FARS National Survey

In [241]:
### downloaded 19 CSVs from here https://www.nhtsa.gov/file-downloads?p=nhtsa/downloads/FARS/2019/ 
data_accident = "/Users/kirk/DS/Springboard_DST/Capstone_2/data/external/FARS2019NationalCSV/accident.CSV"
data_person = "/Users/kirk/DS/Springboard_DST/Capstone_2/data/external/FARS2019NationalCSV/Person.CSV"
data_cevent = "/Users/kirk/DS/Springboard_DST/Capstone_2/data/external/FARS2019NationalCSV/CEvent.CSV"
data_factor = "/Users/kirk/DS/Springboard_DST/Capstone_2/data/external/FARS2019NationalCSV/Factor.CSV"
data_vision = "/Users/kirk/DS/Springboard_DST/Capstone_2/data/external/FARS2019NationalCSV/Vision.csv"
data_drugs = "/Users/kirk/DS/Springboard_DST/Capstone_2/data/external/FARS2019NationalCSV/Drugs.csv"
data_race = "/Users/kirk/DS/Springboard_DST/Capstone_2/data/external/FARS2019NationalCSV/Race.CSV"

<a id="id3"></a>

## Initial Assessment

In [200]:
table_accident = pd.read_csv(data_accident, low_memory=False)
table_accident.head(10)

,STATE,STATENAME,ST_CASE,VE_TOTAL,VE_FORMS,PVH_INVL,PEDS,PERSONS,PERMVIT,PERNOTMVIT,...,HOSP_MN,HOSP_MNNAME,CF1,CF1NAME,CF2,CF2NAME,CF3,CF3NAME,FATALS,DRUNK_DR
0,1,Alabama,10001,2,2,0,0,3,3,0,...,27,27,0,None,0,None,0,None,1,1
1,1,Alabama,10002,2,2,0,0,2,2,0,...,99,Unknown EMS Hospital Arrival Time,0,None,0,None,0,None,1,0
2,1,Alabama,10003,3,3,0,0,4,4,0,...,5,5,14,"Motor Vehicle struck by falling cargo,or somet...",0,None,0,None,1,0
3,1,Alabama,10004,1,1,0,1,1,1,1,...,88,Not Applicable (Not Transported),0,None,0,None,0,None,1,0
4,1,Alabama,10005,1,1,0,0,1,1,0,...,88,Not Applicable (Not Transported),0,None,0,None,0,None,1,1
5,1,Alabama,10006,2,2,0,0,2,2,0,...,88,Not Applicable (Not Transported),0,None,0,None,0,None,1,0
6,1,Alabama,10007,1,1,0,0,5,5,0,...,99,Unknown EMS Hospital Arrival Time,0,None,0,None,0,None,1,0
7,1,Alabama,10008,1,1,0,0,1,1,0,...,88,Not Applicable (Not Transported),0,None,0,None,0,None,1,1
8,1,Alabama,10009,1,1,0,0,1,1,0,...,88,Not Applicable (Not Transported),0,None,0,None,0,None,1,0
9,1,Alabama,10010,1,1,0,1,1,1,1,...,88,Not Applicable (Not Transported),0,None,0,None,0,None,1,0

In [201]:
table_person = pd.read_csv(data_person, low_memory=False)
table_person.head(10)

,STATE,STATENAME,ST_CASE,VE_FORMS,VEH_NO,PER_NO,STR_VEH,COUNTY,DAY,DAYNAME,...,WORK_INJ,WORK_INJNAME,HISPANIC,HISPANICNAME,LOCATION,LOCATIONNAME,HELM_USE,HELM_USENAME,HELM_MIS,HELM_MISNAME
0,1,Alabama,10001,2,1,1,0,81,7,7,...,8,Not Applicable (not a fatality),0,Not A Fatality (not Applicable),0,Occupant of a Motor Vehicle,20,Not Applicable,7,None Used/Not Applicable
1,1,Alabama,10001,2,1,2,0,81,7,7,...,0,No,7,Non-Hispanic,0,Occupant of a Motor Vehicle,20,Not Applicable,7,None Used/Not Applicable
2,1,Alabama,10001,2,2,1,0,81,7,7,...,8,Not Applicable (not a fatality),0,Not A Fatality (not Applicable),0,Occupant of a Motor Vehicle,20,Not Applicable,7,None Used/Not Applicable
3,1,Alabama,10002,2,1,1,0,55,23,23,...,0,No,7,Non-Hispanic,0,Occupant of a Motor Vehicle,20,Not Applicable,7,None Used/Not Applicable
4,1,Alabama,10002,2,2,1,0,55,23,23,...,8,Not Applicable (not a fatality),0,Not A Fatality (not Applicable),0,Occupant of a Motor Vehicle,20,Not Applicable,7,None Used/Not Applicable
5,1,Alabama,10003,3,1,1,0,29,22,22,...,8,Not Applicable (not a fatality),0,Not A Fatality (not Applicable),0,Occupant of a Motor Vehicle,20,Not Applicable,7,None Used/Not Applicable
6,1,Alabama,10003,3,1,2,0,29,22,22,...,0,No,7,Non-Hispanic,0,Occupant of a Motor Vehicle,20,Not Applicable,7,None Used/Not Applicable
7,1,Alabama,10003,3,2,1,0,29,22,22,...,8,Not Applicable (not a fatality),0,Not A Fatality (not Applicable),0,Occupant of a Motor Vehicle,20,Not Applicable,7,None Used/Not Applicable
8,1,Alabama,10003,3,3,1,0,29,22,22,...,8,Not Applicable (not a fatality),0,Not A Fatality (not Applicable),0,Occupant of a Motor Vehicle,20,Not Applicable,7,None Used/Not Applicable
9,1,Alabama,10004,1,0,1,1,55,22,22,...,0,No,7,Non-Hispanic,11,"Not at Intersection - On Roadway, Not in Marke...",96,Not a Motor Vehicle Occupant,8,Not a Motor Vehicle Occupant

In [203]:
table_cevent = pd.read_csv(data_cevent, low_memory=False)
table_cevent.head()

,STATE,STATENAME,ST_CASE,EVENTNUM,VNUMBER1,AOI1,AOI1NAME,SOE,SOENAME,VNUMBER2,VNUMBER2NAME,AOI2,AOI2NAME
0,1,Alabama,10001,1,1,12,12 Clock Point,12,Motor Vehicle In-Transport,2,2,6,6 Clock Point
1,1,Alabama,10002,1,1,12,12 Clock Point,12,Motor Vehicle In-Transport,2,2,6,6 Clock Point
2,1,Alabama,10002,2,1,55,Non-Harmful Event,64,Ran Off Roadway - Left,5555,Non-Harmful Event,55,Non-Harmful Event
3,1,Alabama,10002,3,1,0,Non-Collision,1,Rollover/Overturn,9999,Not a Motor Vehicle,77,Not a Motor Vehicle
4,1,Alabama,10003,1,1,12,12 Clock Point,12,Motor Vehicle In-Transport,2,2,6,6 Clock Point

In [236]:
table_factor = pd.read_csv(data_factor, low_memory=False)
table_factor.head(20)

    STATE STATENAME  ST_CASE  VEH_NO  MFACTOR MFACTORNAME
0       1   Alabama    10001       1        0        None
1       1   Alabama    10001       2        0        None
2       1   Alabama    10002       1        0        None
3       1   Alabama    10002       2        0        None
4       1   Alabama    10003       1        0        None
5       1   Alabama    10003       2        0        None
6       1   Alabama    10003       3        0        None
7       1   Alabama    10004       1        0        None
8       1   Alabama    10005       1        0        None
9       1   Alabama    10006       1        0        None
10      1   Alabama    10006       2        0        None
11      1   Alabama    10007       1        0        None
12      1   Alabama    10008       1        0        None
13      1   Alabama    10009       1        0        None
14      1   Alabama    10010       1        0        None
15      1   Alabama    10011       1        0        None
16      1   Alabama    10012       1        0        None
17      1   Alabama    10013       1        0        None
18      1   Alabama    10014       1        0        None
19      1   Alabama    10015       1        0        None

In [205]:
table_vision = pd.read_csv(data_vision, low_memory=False)
table_vision.head()

   STATE STATENAME  ST_CASE  VEH_NO  MVISOBSC          MVISOBSCNAME
0      1   Alabama    10001       1         0  No Obstruction Noted
1      1   Alabama    10001       2         0  No Obstruction Noted
2      1   Alabama    10002       1         0  No Obstruction Noted
3      1   Alabama    10002       2         0  No Obstruction Noted
4      1   Alabama    10003       1         0  No Obstruction Noted

<a id="id2"></a>

In [243]:
table_drugs = pd.read_csv(data_drugs, low_memory=False)
table_drugs.head()

,STATE,STATENAME,ST_CASE,VEH_NO,PER_NO,DRUGSPEC,DRUGSPECNAME,DRUGRES,DRUGRESNAME
0,1,Alabama,10001,1,1,0,Test Not Given,0,Test Not Given
1,1,Alabama,10001,1,2,0,Test Not Given,0,Test Not Given
2,1,Alabama,10001,2,1,0,Test Not Given,0,Test Not Given
3,1,Alabama,10002,1,1,1,Whole Blood,401,AMPHETAMINE
4,1,Alabama,10002,1,1,1,Whole Blood,417,METHAMPHETAMINE

In [248]:
df_drugs = table_drugs[['ST_CASE', 'VEH_NO', 'PER_NO', 'DRUGRESNAME']]
df_drugs.head()

   ST_CASE  VEH_NO  PER_NO      DRUGRESNAME
0    10001       1       1   Test Not Given
1    10001       1       2   Test Not Given
2    10001       2       1   Test Not Given
3    10002       1       1      AMPHETAMINE
4    10002       1       1  METHAMPHETAMINE

In [235]:
###Not taking race at this time given the nature of this data
table_race = pd.read_csv(data_race, low_memory=False)
table_race.head(20)

,STATE,STATENAME,ST_CASE,VEH_NO,PER_NO,RACE,RACENAME,ORDER,MULTRACE
0,1,Alabama,10001,1,1,0,Not a Fatality (not Applicable),1,0
1,1,Alabama,10001,1,2,1,White,1,0
2,1,Alabama,10001,2,1,0,Not a Fatality (not Applicable),1,0
3,1,Alabama,10002,1,1,1,White,1,0
4,1,Alabama,10002,2,1,0,Not a Fatality (not Applicable),1,0
5,1,Alabama,10003,1,1,0,Not a Fatality (not Applicable),1,0
6,1,Alabama,10003,1,2,6,Native Hawaiian,1,0
7,1,Alabama,10003,2,1,0,Not a Fatality (not Applicable),1,0
8,1,Alabama,10003,3,1,0,Not a Fatality (not Applicable),1,0
9,1,Alabama,10004,0,1,1,White,1,0
10,1,Alabama,10004,1,1,0,Not a Fatality (not Applicable),1,0
11,1,Alabama,10005,1,1,1,White,1,0
12,1,Alabama,10006,1,1,2,Black or African American,1,0
13,1,Alabama,10006,2,1,0,Not a Fatality (not Applicable),1,0
14,1,Alabama,10007,1,1,0,Not a Fatality (not Applicable),1,0
15,1,Alabama,10007,1,2,0,Not a Fatality (not Applicable),1,0
16,1,Alabama,10007,1,3,0,Not a Fatality (not Applicable),1,0
17,1,Alabama,10007,1,4,0,Not a Fatality (not Applicable),1,0
18,1,Alabama,10007,1,5,1,White,1,0
19,1,Alabama,10008,1,1,1,White,1,0

### Subsetting before initial assessments of column types.

In [208]:
### Initial challenge will be to combine best columns from different DataFrames to one
table_accident.columns

Index(['STATE', 'STATENAME', 'ST_CASE', 'VE_TOTAL', 'VE_FORMS', 'PVH_INVL',
       'PEDS', 'PERSONS', 'PERMVIT', 'PERNOTMVIT', 'COUNTY', 'COUNTYNAME',
       'CITY', 'CITYNAME', 'DAY', 'DAYNAME', 'MONTH', 'MONTHNAME', 'YEAR',
       'DAY_WEEK', 'DAY_WEEKNAME', 'HOUR', 'HOURNAME', 'MINUTE', 'MINUTENAME',
       'NHS', 'NHSNAME', 'ROUTE', 'ROUTENAME', 'TWAY_ID', 'TWAY_ID2',
       'RUR_URB', 'RUR_URBNAME', 'FUNC_SYS', 'FUNC_SYSNAME', 'RD_OWNER',
       'RD_OWNERNAME', 'MILEPT', 'MILEPTNAME', 'LATITUDE', 'LATITUDENAME',
       'LONGITUD', 'LONGITUDNAME', 'SP_JUR', 'SP_JURNAME', 'HARM_EV',
       'HARM_EVNAME', 'MAN_COLL', 'MAN_COLLNAME', 'RELJCT1', 'RELJCT1NAME',
       'RELJCT2', 'RELJCT2NAME', 'TYP_INT', 'TYP_INTNAME', 'WRK_ZONE',
       'WRK_ZONENAME', 'REL_ROAD', 'REL_ROADNAME', 'LGT_COND', 'LGT_CONDNAME',
       'WEATHER1', 'WEATHER1NAME', 'WEATHER2', 'WEATHER2NAME', 'WEATHER',
       'WEATHERNAME', 'SCH_BUS', 'SCH_BUSNAME', 'RAIL', 'RAILNAME', 'NOT_HOUR',
       'NOT_HOURNAME', 'NOT_MIN', 'NOT_MINNAME', 'ARR_HOUR', 'ARR_HOURNAME',
       'ARR_MIN', 'ARR_MINNAME', 'HOSP_HR', 'HOSP_HRNAME', 'HOSP_MN',
       'HOSP_MNNAME', 'CF1', 'CF1NAME', 'CF2', 'CF2NAME', 'CF3', 'CF3NAME',
       'FATALS', 'DRUNK_DR'],
      dtype='object')

In [237]:
### checking out factor names in factors
pd.unique(table_factor['MFACTORNAME'])

array(['None', 'Reported as Unknown',
       'Vehicle Contributing Factors - No Details', 'Tires',
       'Other Lights', 'Other', 'Brake System', 'Head Lights',
       'Not Reported', 'Steering', 'Windows/Windshield',
       'Truck Coupling/Trailer Hitch/Safety Chains', 'Suspension',
       'Safety Systems', 'Body, Doors', 'Wheels', 'Mirrors',
       'Power Train', 'Exhaust System', 'Signal Lights', 'Wipers'],
      dtype=object)

In [262]:
###After assessing factor, pairing down to fewer columns
df_factor = table_factor[['ST_CASE', 'VEH_NO', 'MFACTORNAME']]
df_factor.columns

Index(['ST_CASE', 'VEH_NO', 'MFACTORNAME'], dtype='object')

In [211]:
### Total fatalities
table_accident['FATALS'].sum()

36355

In [210]:
### changing some int64 into categories
table_accident['STATE'] = table_accident['STATE'].astype('category')
table_accident['STATENAME'] = table_accident['STATENAME'].astype('category')
table_accident['DRUNK_DR'] = table_accident['DRUNK_DR'].astype('category')
table_accident.dtypes

STATE        category
STATENAME    category
ST_CASE         int64
VE_TOTAL        int64
VE_FORMS        int64
               ...
CF2NAME        object
CF3             int64
CF3NAME        object
FATALS          int64
DRUNK_DR     category
Length: 91, dtype: object

In [223]:
print(table_person.columns.tolist())

['STATE', 'STATENAME', 'ST_CASE', 'VE_FORMS', 'VEH_NO', 'PER_NO', 'STR_VEH', 'COUNTY', 'DAY', 'DAYNAME', 'MONTH', 'MONTHNAME', 'HOUR', 'HOURNAME', 'MINUTE', 'MINUTENAME', 'RUR_URB', 'RUR_URBNAME', 'FUNC_SYS', 'FUNC_SYSNAME', 'HARM_EV', 'HARM_EVNAME', 'MAN_COLL', 'MAN_COLLNAME', 'SCH_BUS', 'SCH_BUSNAME', 'MAKE', 'MAKENAME', 'MAK_MOD', 'BODY_TYP', 'BODY_TYPNAME', 'MOD_YEAR', 'MOD_YEARNAME', 'TOW_VEH', 'TOW_VEHNAME', 'SPEC_USE', 'SPEC_USENAME', 'EMER_USE', 'EMER_USENAME', 'ROLLOVER', 'ROLLOVERNAME', 'IMPACT1', 'IMPACT1NAME', 'FIRE_EXP', 'FIRE_EXPNAME', 'AGE', 'AGENAME', 'SEX', 'SEXNAME', 'PER_TYP', 'PER_TYPNAME', 'INJ_SEV', 'INJ_SEVNAME', 'SEAT_POS', 'SEAT_POSNAME', 'REST_USE', 'REST_USENAME', 'REST_MIS', 'REST_MISNAME', 'AIR_BAG', 'AIR_BAGNAME', 'EJECTION', 'EJECTIONNAME', 'EJ_PATH', 'EJ_PATHNAME', 'EXTRICAT', 'EXTRICATNAME', 'DRINKING', 'DRINKINGNAME', 'ALC_DET', 'ALC_DETNAME', 'ALC_STATUS', 'ALC_STATUSNAME', 'ATST_TYP', 'ATST_TYPNAME', 'ALC_RES', 'ALC_RESNAME', 'DRUGS', 'DRUGSNAME', 'DRUG_DET', 'DRUG_DETNAME', 'DSTATUS', 'DSTATUSNAME', 'HOSPITAL', 'HOSPITALNAME', 'DOA', 'DOANAME', 'DEATH_DA', 'DEATH_DANAME', 'DEATH_MO', 'DEATH_MONAME', 'DEATH_YR', 'DEATH_YRNAME', 'DEATH_HR', 'DEATH_HRNAME', 'DEATH_MN', 'DEATH_MNNAME', 'DEATH_TM', 'DEATH_TMNAME', 'LAG_HRS', 'LAG_HRSNAME', 'LAG_MINS', 'LAG_MINSNAME', 'P_SF1', 'P_SF1NAME', 'P_SF2', 'P_SF2NAME', 'P_SF3', 'P_SF3NAME', 'WORK_INJ', 'WORK_INJNAME', 'HISPANIC', 'HISPANICNAME', 'LOCATION', 'LOCATIONNAME', 'HELM_USE', 'HELM_USENAME', 'HELM_MIS', 'HELM_MISNAME']

In [229]:
#### Need to subset for important columns only in accident, winnow the other tables, and then combine
df_accident = table_accident[['STATE', 'STATENAME', 'ST_CASE','PEDS', 'RUR_URBNAME', 'HARM_EVNAME', 
                             'TYP_INTNAME', 'LGT_CONDNAME', 'WEATHER1NAME', 'WEATHER2NAME', 'WEATHERNAME','FATALS',
                              'DRUNK_DR']]
                             

df_person = table_person[['STATE', 'ST_CASE', 'VE_FORMS', 'VEH_NO', 'PER_NO', 'AGE', 'SEXNAME', 'PER_TYPNAME',
                         'DRINKINGNAME',]]

In [228]:
df_accident.columns

Index(['STATE', 'STATENAME', 'ST_CASE', 'PEDS', 'RUR_URBNAME', 'HARM_EVNAME',
       'TYP_INTNAME', 'LGT_CONDNAME', 'WEATHER1NAME', 'WEATHER2NAME',
       'WEATHERNAME', 'FATALS', 'DRUNK_DR'],
      dtype='object')

In [227]:
df_accident.set_index(['STATE', 'ST_CASE'])

              STATENAME  PEDS RUR_URBNAME                 HARM_EVNAME  \
STATE ST_CASE
1     10001     Alabama     0       Urban  Motor Vehicle In-Transport
      10002     Alabama     0       Urban  Motor Vehicle In-Transport
      10003     Alabama     0       Rural  Motor Vehicle In-Transport
      10004     Alabama     1       Rural                  Pedestrian
      10005     Alabama     0       Urban           Rollover/Overturn
...                 ...   ...         ...                         ...
56    560117    Wyoming     0       Rural           Rollover/Overturn
      560118    Wyoming     0       Rural  Motor Vehicle In-Transport
      560119    Wyoming     0       Rural           Rollover/Overturn
      560120    Wyoming     0       Rural                  Embankment
      560121    Wyoming     0       Urban  Motor Vehicle In-Transport

                       TYP_INTNAME        LGT_CONDNAME       WEATHER1NAME  \
STATE ST_CASE
1     10001    Not an Intersection            Daylight              Clear
      10002    Not an Intersection  Dark - Not Lighted               Rain
      10003    Not an Intersection  Dark - Not Lighted             Cloudy
      10004    Not an Intersection  Dark - Not Lighted              Clear
      10005    Not an Intersection  Dark - Not Lighted   Fog, Smog, Smoke
...                            ...                 ...                ...
56    560117   Not an Intersection                Dusk  Severe Crosswinds
      560118        T-Intersection            Daylight              Clear
      560119   Not an Intersection            Daylight              Clear
      560120   Not an Intersection  Dark - Not Lighted              Clear
      560121   Not an Intersection  Dark - Not Lighted               Rain

                                       WEATHER2NAME        WEATHERNAME  \
STATE ST_CASE
1     10001    No Additional Atmospheric Conditions              Clear
      10002    No Additional Atmospheric Conditions               Rain
      10003    No Additional Atmospheric Conditions             Cloudy
      10004    No Additional Atmospheric Conditions              Clear
      10005    No Additional Atmospheric Conditions   Fog, Smog, Smoke
...                                             ...                ...
56    560117   No Additional Atmospheric Conditions  Severe Crosswinds
      560118   No Additional Atmospheric Conditions              Clear
      560119   No Additional Atmospheric Conditions              Clear
      560120   No Additional Atmospheric Conditions              Clear
      560121   No Additional Atmospheric Conditions               Rain

               FATALS DRUNK_DR
STATE ST_CASE
1     10001         1        1
      10002         1        0
      10003         1        0
      10004         1        0
      10005         1        1
...               ...      ...
56    560117        1        0
      560118        1        0
      560119        1        1
      560120        1        1
      560121        2        1

[33487 rows x 11 columns]

In [230]:
df_person.columns

Index(['STATE', 'ST_CASE', 'VE_FORMS', 'VEH_NO', 'PER_NO', 'AGE', 'SEXNAME',
       'PER_TYPNAME', 'DRINKINGNAME'],
      dtype='object')

In [234]:
##merging relevant dataframes starting with person
df_merged = df_accident.merge(df_person, on=['STATE', 'ST_CASE'], how = 'outer')
df_merged.head()

,STATE,STATENAME,ST_CASE,PEDS,RUR_URBNAME,HARM_EVNAME,TYP_INTNAME,LGT_CONDNAME,WEATHER1NAME,WEATHER2NAME,WEATHERNAME,FATALS,DRUNK_DR,VE_FORMS,VEH_NO,PER_NO,AGE,SEXNAME,PER_TYPNAME,DRINKINGNAME
0,1,Alabama,10001,0,Urban,Motor Vehicle In-Transport,Not an Intersection,Daylight,Clear,No Additional Atmospheric Conditions,Clear,1,1,2,1,1,34,Female,Driver of a Motor Vehicle In-Transport,No (Alcohol Not Involved)
1,1,Alabama,10001,0,Urban,Motor Vehicle In-Transport,Not an Intersection,Daylight,Clear,No Additional Atmospheric Conditions,Clear,1,1,2,1,2,53,Male,Passenger of a Motor Vehicle In-Transport,Not Reported
2,1,Alabama,10001,0,Urban,Motor Vehicle In-Transport,Not an Intersection,Daylight,Clear,No Additional Atmospheric Conditions,Clear,1,1,2,2,1,59,Male,Driver of a Motor Vehicle In-Transport,Yes (Alcohol Involved)
3,1,Alabama,10002,0,Urban,Motor Vehicle In-Transport,Not an Intersection,Dark - Not Lighted,Rain,No Additional Atmospheric Conditions,Rain,1,0,2,1,1,42,Female,Driver of a Motor Vehicle In-Transport,Reported as Unknown
4,1,Alabama,10002,0,Urban,Motor Vehicle In-Transport,Not an Intersection,Dark - Not Lighted,Rain,No Additional Atmospheric Conditions,Rain,1,0,2,2,1,54,Female,Driver of a Motor Vehicle In-Transport,No (Alcohol Not Involved)

In [239]:
### Adding cevent data
df_merged = df_merged.merge(table_cevent, on=['STATE', 'ST_CASE'], how = 'outer')
df_merged.head()

,STATE,STATENAME_x,ST_CASE,PEDS,RUR_URBNAME,HARM_EVNAME,TYP_INTNAME,LGT_CONDNAME,WEATHER1NAME,WEATHER2NAME,...,EVENTNUM,VNUMBER1,AOI1,AOI1NAME,SOE,SOENAME,VNUMBER2,VNUMBER2NAME,AOI2,AOI2NAME
0,1,Alabama,10001,0,Urban,Motor Vehicle In-Transport,Not an Intersection,Daylight,Clear,No Additional Atmospheric Conditions,...,1,1,12,12 Clock Point,12,Motor Vehicle In-Transport,2,2,6,6 Clock Point
1,1,Alabama,10001,0,Urban,Motor Vehicle In-Transport,Not an Intersection,Daylight,Clear,No Additional Atmospheric Conditions,...,1,1,12,12 Clock Point,12,Motor Vehicle In-Transport,2,2,6,6 Clock Point
2,1,Alabama,10001,0,Urban,Motor Vehicle In-Transport,Not an Intersection,Daylight,Clear,No Additional Atmospheric Conditions,...,1,1,12,12 Clock Point,12,Motor Vehicle In-Transport,2,2,6,6 Clock Point
3,1,Alabama,10002,0,Urban,Motor Vehicle In-Transport,Not an Intersection,Dark - Not Lighted,Rain,No Additional Atmospheric Conditions,...,1,1,12,12 Clock Point,12,Motor Vehicle In-Transport,2,2,6,6 Clock Point
4,1,Alabama,10002,0,Urban,Motor Vehicle In-Transport,Not an Intersection,Dark - Not Lighted,Rain,No Additional Atmospheric Conditions,...,2,1,55,Non-Harmful Event,64,Ran Off Roadway - Left,5555,Non-Harmful Event,55,Non-Harmful Event

In [251]:
### Adding limited drugs data
df_merged = df_merged.merge(df_drugs, on=['ST_CASE','PER_NO'], how = 'outer', suffixes=['_person', '_drugs'])

Index(['STATE', 'STATENAME_x', 'ST_CASE', 'PEDS', 'RUR_URBNAME', 'HARM_EVNAME',
       'TYP_INTNAME', 'LGT_CONDNAME', 'WEATHER1NAME', 'WEATHER2NAME',
       'WEATHERNAME', 'FATALS', 'DRUNK_DR', 'VE_FORMS', 'VEH_NO_person',
       'PER_NO', 'AGE', 'SEXNAME', 'PER_TYPNAME', 'DRINKINGNAME',
       'STATENAME_y', 'EVENTNUM', 'VNUMBER1', 'AOI1', 'AOI1NAME', 'SOE',
       'SOENAME', 'VNUMBER2', 'VNUMBER2NAME', 'AOI2', 'AOI2NAME',
       'VEH_NO_drugs', 'DRUGRESNAME_person', 'VEH_NO', 'DRUGRESNAME_drugs'],
      dtype='object')

In [260]:
df_merged.reset_index()
df_merged.drop(['STATENAME_y','VNUMBER1', 'AOI1', 'AOI1NAME', 'SOE',
       'SOENAME', 'VNUMBER2', 'VNUMBER2NAME', 'AOI2', 'AOI2NAME',
       'VEH_NO_drugs', 'DRUGRESNAME_person' ], axis=1, inplace=True)
print(df_merged[0:5])

   STATE STATENAME_x  ST_CASE  PEDS RUR_URBNAME                 HARM_EVNAME  \
0      1     Alabama    10001     0       Urban  Motor Vehicle In-Transport
1      1     Alabama    10001     0       Urban  Motor Vehicle In-Transport
2      1     Alabama    10001     0       Urban  Motor Vehicle In-Transport
3      1     Alabama    10001     0       Urban  Motor Vehicle In-Transport
4      1     Alabama    10001     0       Urban  Motor Vehicle In-Transport

           TYP_INTNAME LGT_CONDNAME WEATHER1NAME  \
0  Not an Intersection     Daylight        Clear
1  Not an Intersection     Daylight        Clear
2  Not an Intersection     Daylight        Clear
3  Not an Intersection     Daylight        Clear
4  Not an Intersection     Daylight        Clear

                           WEATHER2NAME  ... VE_FORMS  VEH_NO_person PER_NO  \
0  No Additional Atmospheric Conditions  ...        2              1      1
1  No Additional Atmospheric Conditions  ...        2              1      1
2  No Additional Atmospheric Conditions  ...        2              1      1
3  No Additional Atmospheric Conditions  ...        2              1      1
4  No Additional Atmospheric Conditions  ...        2              2      1

   AGE  SEXNAME                             PER_TYPNAME  \
0   34   Female  Driver of a Motor Vehicle In-Transport
1   34   Female  Driver of a Motor Vehicle In-Transport
2   34   Female  Driver of a Motor Vehicle In-Transport
3   34   Female  Driver of a Motor Vehicle In-Transport
4   59     Male  Driver of a Motor Vehicle In-Transport

                DRINKINGNAME EVENTNUM VEH_NO DRUGRESNAME_drugs
0  No (Alcohol Not Involved)        1      1    Test Not Given
1  No (Alcohol Not Involved)        1      2    Test Not Given
2  No (Alcohol Not Involved)        1      1    Test Not Given
3  No (Alcohol Not Involved)        1      2    Test Not Given
4     Yes (Alcohol Involved)        1      1    Test Not Given

[5 rows x 23 columns]

In [267]:
df_merged.rename(columns={'VEH_NO_person':'VEH_NO'})
df_merged.columns

Index(['STATE', 'STATENAME_x', 'ST_CASE', 'PEDS', 'RUR_URBNAME', 'HARM_EVNAME',
       'TYP_INTNAME', 'LGT_CONDNAME', 'WEATHER1NAME', 'WEATHER2NAME',
       'WEATHERNAME', 'FATALS', 'DRUNK_DR', 'VE_FORMS', 'VEH_NO_person',
       'PER_NO', 'AGE', 'SEXNAME', 'PER_TYPNAME', 'DRINKINGNAME', 'EVENTNUM',
       'VEH_NO', 'DRUGRESNAME_drugs'],
      dtype='object')

In [270]:
df_merged.set_index(['ST_CASE','VEH_NO'])
df_factor.set_index(['ST_CASE','VEH_NO'])

               MFACTORNAME
ST_CASE VEH_NO
10001   1             None
        2             None
10002   1             None
        2             None
10003   1             None
...                    ...
560118  5             None
560119  1             None
560120  1             None
560121  1            Tires
        2             None

[51682 rows x 1 columns]

In [272]:
### Adding limited drugs data
df_merged = df_merged.merge(df_factor, on=['ST_CASE','VEH_NO'], how = 'outer')
df_merged.head(20)

,STATE,STATENAME_x,ST_CASE,PEDS,RUR_URBNAME,HARM_EVNAME,TYP_INTNAME,LGT_CONDNAME,WEATHER1NAME,WEATHER2NAME,...,VEH_NO_person,PER_NO,AGE,SEXNAME,PER_TYPNAME,DRINKINGNAME,EVENTNUM,VEH_NO,DRUGRESNAME_drugs,MFACTORNAME
0,1.0,Alabama,10001,0.0,Urban,Motor Vehicle In-Transport,Not an Intersection,Daylight,Clear,No Additional Atmospheric Conditions,...,1.0,1.0,34.0,Female,Driver of a Motor Vehicle In-Transport,No (Alcohol Not Involved),1.0,1,Test Not Given,None
1,1.0,Alabama,10001,0.0,Urban,Motor Vehicle In-Transport,Not an Intersection,Daylight,Clear,No Additional Atmospheric Conditions,...,1.0,1.0,34.0,Female,Driver of a Motor Vehicle In-Transport,No (Alcohol Not Involved),1.0,1,Test Not Given,None
2,1.0,Alabama,10001,0.0,Urban,Motor Vehicle In-Transport,Not an Intersection,Daylight,Clear,No Additional Atmospheric Conditions,...,2.0,1.0,59.0,Male,Driver of a Motor Vehicle In-Transport,Yes (Alcohol Involved),1.0,1,Test Not Given,None
3,1.0,Alabama,10001,0.0,Urban,Motor Vehicle In-Transport,Not an Intersection,Daylight,Clear,No Additional Atmospheric Conditions,...,2.0,1.0,59.0,Male,Driver of a Motor Vehicle In-Transport,Yes (Alcohol Involved),1.0,1,Test Not Given,None
4,1.0,Alabama,10001,0.0,Urban,Motor Vehicle In-Transport,Not an Intersection,Daylight,Clear,No Additional Atmospheric Conditions,...,1.0,2.0,53.0,Male,Passenger of a Motor Vehicle In-Transport,Not Reported,1.0,1,Test Not Given,None
5,1.0,Alabama,10001,0.0,Urban,Motor Vehicle In-Transport,Not an Intersection,Daylight,Clear,No Additional Atmospheric Conditions,...,1.0,1.0,34.0,Female,Driver of a Motor Vehicle In-Transport,No (Alcohol Not Involved),1.0,2,Test Not Given,None
6,1.0,Alabama,10001,0.0,Urban,Motor Vehicle In-Transport,Not an Intersection,Daylight,Clear,No Additional Atmospheric Conditions,...,1.0,1.0,34.0,Female,Driver of a Motor Vehicle In-Transport,No (Alcohol Not Involved),1.0,2,Test Not Given,None
7,1.0,Alabama,10001,0.0,Urban,Motor Vehicle In-Transport,Not an Intersection,Daylight,Clear,No Additional Atmospheric Conditions,...,2.0,1.0,59.0,Male,Driver of a Motor Vehicle In-Transport,Yes (Alcohol Involved),1.0,2,Test Not Given,None
8,1.0,Alabama,10001,0.0,Urban,Motor Vehicle In-Transport,Not an Intersection,Daylight,Clear,No Additional Atmospheric Conditions,...,2.0,1.0,59.0,Male,Driver of a Motor Vehicle In-Transport,Yes (Alcohol Involved),1.0,2,Test Not Given,None
9,1.0,Alabama,10002,0.0,Urban,Motor Vehicle In-Transport,Not an Intersection,Dark - Not Lighted,Rain,No Additional Atmospheric Conditions,...,1.0,1.0,42.0,Female,Driver of a Motor Vehicle In-Transport,Reported as Unknown,1.0,1,AMPHETAMINE,None
10,1.0,Alabama,10002,0.0,Urban,Motor Vehicle In-Transport,Not an Intersection,Dark - Not Lighted,Rain,No Additional Atmospheric Conditions,...,1.0,1.0,42.0,Female,Driver of a Motor Vehicle In-Transport,Reported as Unknown,1.0,1,METHAMPHETAMINE,None
11,1.0,Alabama,10002,0.0,Urban,Motor Vehicle In-Transport,Not an Intersection,Dark - Not Lighted,Rain,No Additional Atmospheric Conditions,...,1.0,1.0,42.0,Female,Driver of a Motor Vehicle In-Transport,Reported as Unknown,1.0,1,AMPHETAMINE,None
12,1.0,Alabama,10002,0.0,Urban,Motor Vehicle In-Transport,Not an Intersection,Dark - Not Lighted,Rain,No Additional Atmospheric Conditions,...,1.0,1.0,42.0,Female,Driver of a Motor Vehicle In-Transport,Reported as Unknown,1.0,1,METHAMPHETAMINE,None
13,1.0,Alabama,10002,0.0,Urban,Motor Vehicle In-Transport,Not an Intersection,Dark - Not Lighted,Rain,No Additional Atmospheric Conditions,...,1.0,1.0,42.0,Female,Driver of a Motor Vehicle In-Transport,Reported as Unknown,1.0,1,AMPHETAMINE,None
14,1.0,Alabama,10002,0.0,Urban,Motor Vehicle In-Transport,Not an Intersection,Dark - Not Lighted,Rain,No Additional Atmospheric Conditions,...,1.0,1.0,42.0,Female,Driver of a Motor Vehicle In-Transport,Reported as Unknown,1.0,1,METHAMPHETAMINE,None
15,1.0,Alabama,10002,0.0,Urban,Motor Vehicle In-Transport,Not an Intersection,Dark - Not Lighted,Rain,No Additional Atmospheric Conditions,...,1.0,1.0,42.0,Female,Driver of a Motor Vehicle In-Transport,Reported as Unknown,2.0,1,AMPHETAMINE,None
16,1.0,Alabama,10002,0.0,Urban,Motor Vehicle In-Transport,Not an Intersection,Dark - Not Lighted,Rain,No Additional Atmospheric Conditions,...,1.0,1.0,42.0,Female,Driver of a Motor Vehicle In-Transport,Reported as Unknown,2.0,1,METHAMPHETAMINE,None
17,1.0,Alabama,10002,0.0,Urban,Motor Vehicle In-Transport,Not an Intersection,Dark - Not Lighted,Rain,No Additional Atmospheric Conditions,...,1.0,1.0,42.0,Female,Driver of a Motor Vehicle In-Transport,Reported as Unknown,2.0,1,AMPHETAMINE,None
18,1.0,Alabama,10002,0.0,Urban,Motor Vehicle In-Transport,Not an Intersection,Dark - Not Lighted,Rain,No Additional Atmospheric Conditions,...,1.0,1.0,42.0,Female,Driver of a Motor Vehicle In-Transport,Reported as Unknown,2.0,1,METHAMPHETAMINE,None
19,1.0,Alabama,10002,0.0,Urban,Motor Vehicle In-Transport,Not an Intersection,Dark - Not Lighted,Rain,No Additional Atmospheric Conditions,...,1.0,1.0,42.0,Female,Driver of a Motor Vehicle In-Transport,Reported as Unknown,2.0,1,AMPHETAMINE,None